.modal-backdrop {
    background-color: transparent;
}

.modal-content {
    box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
    border: none;
    padding: 15px 40px;
    border-radius: 20px;

    h4 {
        font-weight: 700;
    }

    .modal-content__group {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .col.modal-content__group {
        margin-bottom: 1rem!important;
    }

    .modal-content__value {
        font-size: 18px;
    }

    .modal-content__form {
        .modal-content__input {
            @media screen and (max-width: $small) {
                width: auto;
            }
        }
    }

    .modal-content__color-group {
        width: 70%;
        margin: 0 auto;
        margin-bottom: -20px;

        .modal-content__color {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            cursor: pointer;
            margin-right: 10px;
            margin-bottom: 10px;

            &.modal-content__color--selected {
                border: 3px solid $fadeBlack;
            }
        }
    }

    .modal-header {
        border: none;
    }
    
    .modal-footer {
        border: none;
    }    
}

.btn {
    border-radius: 10px;

    .btn-primary {
        background-color: $blue;
    }

    &.btn--full {
        width: 100%;
    }

    a:hover {
        color: inherit;
    }

    &:not(.btn-success) {
        a {
            color: $white;
        }
    }
}

.alert {
    border-radius: 10px;
    color: $red;
    font-size: 16px;
    border: 1px solid $red;

    &.alert--full {
        width: 100%;
    }
}

.popover {
    border-radius: 20px;
    box-shadow: 0px -1px 8px 3px rgb(0 0 0 / 14%);

    .popover-body {
        padding: 15px 25px;
    }

    .popover__group {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}