#dashboard {
    height: 100%;

    .shift-table {
        .shift-table__cell {
            &.shift-table__cell--header {
                .header-day {
                    display: block;
                    margin-bottom: 5px;
                }

                .header-date {
                    padding: 5px;
                    border-radius: 100px;
                    background-color: $light-grey;

                    &.header-date--selected {
                        background-color: $orange;
                    }
                }
            }
            
            &.shift-table__cell--shift {
                padding-top: 0;
                padding-bottom: 0;
            }

            &.shift-table__cell--selected {
                background-color: lighten($orange, 35%);
            }
        }   
        
    }
    
    .shift {
        position: absolute;
        border-radius: 10px;
        border: 1px solid white;
        cursor: pointer;
        z-index: 5;
        background-color: $green;
        color: $white;
        min-height: 100%;

        &.shift--unassigned .shift-assigned {
            background-color: $red;
        }

        &.shift--partsigned .shift-assigned {
            background-color: $orange;
        }

        &.shift--filled .shift-assigned {
            background-color: $green;
        }

        &:hover {
            opacity: .9;
            z-index: 6;
            background-color: darken($green, 10%);
        }

        .shift-content {
            display: flex;
            flex-direction: column;
            line-height: 1.4;
            position: relative;
            overflow: hidden;
            padding: 5px 8px;

            .shift-content__department-name {
                font-size: 13px;
                min-width: 100px;
            }

            .shift-content__length {
                font-size: 12px;
                font-weight: 200;
                min-width: 100px;
            }
        }

        .shift-assigned{
            width: 15px;
            height: 15px;
            position: absolute;
            border-radius: 20px;
            right: 6px;
            top: 6px;
            box-shadow: 0px -1px 8px 3px rgb(0 0 0 / 14%);
            z-index: 10; // above the shift

            @media screen and (max-width: $large) {
                left: -7px;
                top: -7px;
            }
        }
    }
}

.shift-modal {
    .shift-modal__assignee {
        background-color: $green;
        border-radius: 10px;
        padding: 5px 10px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}