#login {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .login__return {
        font-size: 16px;
        padding: 10px 0;

        .login__return-link {
            &:before {
                content: ' ';
                border: solid black;
                border-width: 0 1.5px 1.5px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(135deg);
                margin-right: 15px;
                position: relative;
                top: -2px
            }
        }
    }

    .login__content {
        flex-grow: 1;
        background-color: $white;
        position: relative;
        padding: 3rem 20px;

        .login__container {
            max-width: 400px;
            width: 100%;
        }

        .login__logo {
            h2 {
                font-weight: 700;
                margin-bottom: 0;
                position: relative;
                font-size: 35px;
                top: 5px;
                color: $fadeBlack;
            }

            img {
                width: 80px;
                height: auto;
                margin-right: 10px;
            }
        }
    }

    .login__divider {
        width: 100%;
        border-bottom: 1px solid $grey;
        line-height: .9px;
        margin: 26px 0;
    }

    .login__form {
        .login__form-group {
            margin-bottom: 2rem;
        }

        .login__form-input {
            border: 1px solid #ced4da;
            background-color: #f8fafc;
            color: #212529;
            min-height: 45px;
        }

        .btn {
            min-height: 45px;
        }
    }
}