
$sidebar-width: 100px;
$logo-size: 55px;

// This is a class since we have multiple of the same side bar (one for offCanvas and one for regular).
.side-bar {
    height: 100%;
    background-color: $blue;
    width: $sidebar-width;
    color: $white;
    padding: 20px 0;
    z-index: 10;

    ul {
        list-style-type: none;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .side-bar__link{
            &.side-bar__link--bottom {
                margin-top: auto;
            }
        }

        li.side-bar__element {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $black;
            border-radius: 5px;
            padding: 7px 0;
            font-weight: 600;
            font-size: 13px;
            transition: background-color 200ms linear;

            &.side-bar__element--company-logo {
                margin-bottom: 21px;
            }

            &.side-bar__element--link {
                margin-bottom: 7px;
            
                &.side-bar__element--selected {
                    background: hsla(0, 0%, 100%, .7);
                    fill: $black;
                }

                &:not(.side-bar__element--selected) {
                    fill: $offwhite;
                    color: $offwhite;

                    &:hover {
                        fill: $white;
                        color: $white;
                        background-color: hsla(0, 0%, 100%, .3);
                    }
                }
            }
        }
    }

    &.side-bar--fixed {
        position: fixed;

        @media screen and (max-width: $medium) {
            display: none;
        }
    }

    &.side-bar--collapsed {
        padding: 0;
    }

    .side-bar__company-logo {
        width: $logo-size;
        height: $logo-size;
    }
}
