
#employees, #departments {
    height: 100%;

    .sub-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        height: auto !important;
        margin: 0 30px;
        width: calc(100% - 60px);

        th {
            border-right: none !important;
        }

        .sub-table__cell {
            &.sub-table__cell--edit, &.sub-table__cell--delete {
                width: 50px;

                .sub-table__delete-btn {
                    background-color: $red;
                }

                .sub-table__edit-btn {
                    fill: $fadeBlack;
                    background-color: $green;
                    width: 24px;
                    height: 24px;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: lighten($green, 10);
                    }
                }
            }
        }
    }
}