.top-bar {
    height: 80px;
    display: flex;
    align-items: center;

    &.top-bar--sub {
        height: 80px;
    }

    .btn {
        font-weight: 600;
        color: $white;
        fill: $white;
        display: flex;
        align-items: center;
        height: 36px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: $blue;
        border: none;
    }

    .top-bar__section {
        margin: 0 20px;
        display: flex;
        align-items: center;
    }
    
    .top-bar__section--date {
        strong {
            margin: 0 20px;
        }

        .date-arrow{
            cursor: pointer;
            background-color: $blue;
            border-radius: 20px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                &:before {
                    border-color: $black;
                }
            }

            &:before {
                content: '';
                border: solid $white;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
            }

            &.date-arrow--prev:before {
                transform: rotate(135deg);
                margin-left: 4px; 
            }

            &.date-arrow--next:before {
                transform: rotate(-45deg);
                margin-right: 2px;
            }
        }
    }
}