// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0062ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff6961;
$orange: #ffc542;
$yellow: #ffed4a;
$green: #3dd598;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$offwhite: hsla(0,0%,100%,.8);
$black: #212529;
$fadeBlack: #2d3748;
$grey: #ced4da;
$light-grey: #f8fafc;


// Collapse points
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
