// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'components/bootstrap-styles';
@import 'components/topbar';
@import 'components/dashboard';
@import 'components/sub-dashboard';
@import 'components/sidebar';
@import 'components/login';


html, body {
    width: 100%;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;

    &.link {
        color: $blue;
    }
}


ul {
    margin-bottom: 0;
}

h4 {
    font-weight: 700;
}

input {
    border: 1px solid $grey;
    background-color: $light-grey;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    width: 100%;
    border-radius: 10px;
    color: $black;
}

#app {
    display: flex;
    height: 100%;
}

.rating-faces {
    .rating-faces__selectable {
        &.rating-faces__selectable--selected {
            background-color: $green;
        }

        padding: 10px;
        border-radius: 20px;

        .rating-faces__img {
            width: 50px;
            height: auto;
            // margin-right: 15px;
            cursor: pointer;
        }
    }
}


#container {
    margin-left: $sidebar-width;
    flex-grow: 1; // Fill the remaining space on the screen
    height: 100%;

    @media screen and (max-width: $medium) {
        margin-left: 0;
    }
    
    .data-table {
        margin-bottom: 0;
        table-layout: fixed;
        display: table;
        height: calc(100% - 80px);
        user-select: none;
        overflow: hidden;

        tbody {
            border-top: 1px solid currentColor;
        }

        th {
            position: relative;
            background-color: $white;

            &:not(:last-child) {
                border-right: 1px solid #dee2e6;
            }
        }
    }

    .color-dot {
        border-radius: 20px;
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 0.5rem;
    }

    ._loading_overlay_wrapper {
        width: 100%;
        height: 100%;

        ._loading_overlay_overlay {
            background: rgba(0, 0, 0, .5);
        }
    }
}

